// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.login-button {
  display: inline-block;
  padding: 18px 64px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 30px;
  background: $linkColor;
}