// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-inner {
  position: relative;

  @include respond-to('large') {
    height: 112px;;
  }
}

.logo {
  display: inline-block;
  margin: 33px 0 33px 30px;
  z-index: 1;

  @include respond-to('large') {
    position: absolute;
    margin: 27px 0 27px 30px;
  }

  a {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;

    img {
      max-width: 160px;

      @include respond-to('large') {
        max-width: 200px;
      }
    }
  }
}