.nav-opener {
  position: absolute;
  top: 44px;
  right: 65px;
  width: 28px;
  height: 20px;
  border-radius: 0px;
  background: transparent;

  &:before,
  &:after,
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 0px;
    background: $headingColor;
    @include transition(all, 0.3s);
  }

  &:before {
    content: '';
    top: 9px;
  }

  &:after {
    content: '';
    top: 18px;
  }

  &.nav-active {
    height: 28px;

    span {
      opacity: 0;
    }
    &:before {
      top: 12px;
      @include transform(rotate(45deg));
    }
    &:after {
      top: 12px;
      @include transform(rotate(-45deg));
    }
  }

  @include respond-to('large') {
    display: none;
  }

}
/* .main-nav-wrapper {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 75px;

  @include transition(all, 0.3s);

  @include respond-to('large') {
    padding-top: 0;
  }

  &.active {
    display: block;

    @include transition(all, 0.3s);
  }
} */
.main-nav {
  position: absolute;
  width: 100%;
  // margin-bottom: 24px;
  background: $whiteColor;

  @include transition(all, 0.3s);

  .nav {
    display: none;
    padding-top: 87px;
    padding-bottom: 24px;

    .nav-link {
      text-align: center;
    
      a {
        display: block;
        padding: 12px 0;

        @include font(18px, 500);

        @include on-event {
          color: $secondaryColor;
        }

        @include respond-to('large') {
          padding: 12px;
          font-size: 15px;
        }
      }

      &.active {
        a {
          color: $secondaryColor;
        }
      }

      @include respond-to('large') {
        margin: 0 3px;
      }

      @include respond-to('extralarge') {
        margin: 0 12px;
      }

      &:first-of-type {
        @include respond-to('large') {
          margin-left: 0;
        }
      }

      &:last-of-type {
        @include respond-to('large') {
          margin-right: 0;
        }
      }
    }

    @include respond-to('large') {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @include respond-to('large') {
    height: 100%;
  }
  
}

.search-form {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;

  @include respond-to('large') {
    display: none;
  }

  input {
    width: 100%;
    padding: 26px 0 26px 72px;
    border: 0;
    font-size: 20px;
    background: $bkgrColor;
    
    @include placeholder {
      font-size: 20px;
      color: #BFBFBF;
      line-height: 3;
    }
    
  }

  button {
    position: absolute;
    top: 50%;
    left: 26px;
    padding: 6px;
    border: 0;
    background: transparent;
    @include transform(translateY(-50%));

    img {
      vertical-align: middle;
    }
  }
}

.member-login {
  display: none;
  padding: 36px 0 72px;
  text-align: center;
  background: $whiteColor;

  @include respond-to('large') {
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 0;
  }

  @include respond-to('extralarge') {
    top: 35px;
  }
}
