// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

/// Font sizes
$basicFontSize: 14px;

/// Colors
$headingColor: #086E61;
$secondaryColor: #E5B029;
$linkColor: #405065;
$textColor: #505050;
$bkgrColor: #F5F7F8;

/// Container's maximum width
$maxWidth: 1920px !default;
$contentWidth: 1600px;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': (min-width: 768px),
  'medium': (min-width: 1024px),
  'large': (min-width: 1200px),
  'extralarge': (min-width: 1600px)
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
