// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body { 
  margin: 0; 
  border: 0; 
  padding: 0; 
  outline: 0; 
  vertical-align: baseline; 
  background: transparent;
}

a {
  color: $linkColor;
  text-decoration: none;
  outline: none;

  @include on-event {
    color: $textColor;
  }
}

input, 
button, 
textarea, 
select { 
  -webkit-appearance: none; 
  outline: none;
}

ol, 
ul, 
li { 
  list-style: none; 
  margin: 0; 
  padding: 0;
}

img { 
  max-width: 100%; 
  border: none; outline: none;
}

