// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.slide-bkgr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#005360, 0.72);
  z-index: -1;
}
