/**
 * Basic typography style for copy text
 */
body {
  color: $textColor;
  font: normal #{$basicFontSize} / 1.4 $primaryFont;
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}

h1 {
  @include font(35px, 600, 50px);
  color: $headingColor; 
}

h2 {
  @include font(32px, 600, 46px);
  color: $headingColor; 
}

h2 {
  @include font(22px, 600, 35px);
  color: $headingColor; 
}